@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("https://images.unsplash.com/photo-1546271876-af6caec5fae5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1530&q=80");
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}