@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    color: white;
    background-image: url("new\ year.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}